.containerInput {
  width: 100%;
  position: relative;
  margin-bottom: 30px;

  input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    border: none;
    border-bottom: 1px solid var(--main-color);
    outline: none;
    background: transparent;
  }

  label {
    top: -20px;
    left: 0;
    color: black;
    font-size: 14px;
    position: absolute;

    span {
        color: #c91212;
    }
  }

  .errorMsg {
    display: none;
    color: #c91212;
    font-size: 12px;
  }

  .showError {
    display: block;
  }
}
