.containerLogo {
  margin-top: 10px;

  figure {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      width: 93%;
      height: 82%;
      background-color: #ffffff;
      border-radius: 50%;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media (max-width: 500px) {
    figure {
      width: 110px;
      height: 110px;
    }

    .textLogo {
      .firstText {
        font-size: 18px;
      }
    }
  }
}

.textLogo {
  border-left: 2px solid #ffffff;
  padding-left: 15px;
}

.textLogo .firstText {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.secondText {
  font-size: 14px;
  max-width: 140px;
  margin: 0;
  font-style: oblique;
  font-family: var(--second-family);
}

.slogan {
  font-size: 32px;
  font-family: var(--second-family);
  text-align: center;
  margin-top: -50px;
  font-style: oblique;

  @media (max-width: 750px) {
    margin-top: -10px;
  }
}
