@import url('https://fonts.googleapis.com/css?family=Roboto');

.tarjeta {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 950px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .tarjeta {
        flex-direction: column;
        height: auto;
    }
}

/* Estilos para el iframe */
.tarjeta iframe {
    max-width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.tarjeta iframe:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

/* Estilos para el contenido de la tarjeta */
.contenido {
    padding: 20px;
    flex: 1;
    text-align: center;
}

.contenido h2 {
    font-size: 28px;
    margin-top: 0;
}

.contenido p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .contenido h2 {
        font-size: 24px;
    }

    .contenido p {
        font-size: 14px;
    }
}  