footer{
  background: var(--main-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container-link {
    width: 75%;
    justify-content: space-between;
    text-align: center;
}

@media only screen and (max-width: 900px) {

    .container-link {
        width: 90%;
    }
}

.span-footer{
    color: rgb(244, 241, 241);
    font-size: 16px;
    font-family: 'Capri';
    display: flex;
}


a{
    color: rgb(249, 244, 244);
    font-size: 16px;
    font-family: 'Capri';
    text-decoration: none;  
    display: flex;
    align-items: center;
    margin: 0 5px;
    
}

.containerIcon{
    display: flex;
    justify-content: center;
    width: 20%;
}
