:root {
  --main-gradient: linear-gradient(to bottom right, #209c5e, #2ad99c);
  /* background-color: #0000008a; */
}

a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .stylePadding {
  padding-top: 60px;
} */

main {
  width: 100vw;
  display: grid;
  place-items: center;
  padding-top: 75px;
}