:root {
  --dark-green: #003400;
  --mix-green: linear-gradient(to bottom right, #003400, #3a7248);
  /* --green: #003000d2; */
  /* background-color: #0000008a; */
}

a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .stylePadding {
  padding-top: 60px;
} */

main {
  width: 100vw;
  display: grid;
  place-items: center;
  padding-top: 75px;
}