:root {
  --main-color: #29787e;
  --main-gradient: linear-gradient(to bottom right, #29787e, #3c9ea3);
  /* --green: #003000d2; */
  /* background-color: #0000008a; */
}

a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom right, #f1f1f1, #c4c5c4);
}

/* .stylePadding {
  padding-top: 60px;
} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}