.title,
.subtitle {
  text-align: center;
  margin: 0;
}

.title {
    margin-top: 25px;
    font-size: 22px;
}

.subtitle {
  font-size: 20px;
}

.phrase {
    font-size: 18px;
    text-align: center;
}
