.container {
  background-color: #ffffffe3;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container figure {
  display: flex;
}

.container h3 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.container section {
  padding: 10px;
}

.description {
  font-size: 20px;
}

.image {
  width: 40%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 20px;
  align-self: center;
}

.list::marker {
  color: var(--primary-color);
}

.text {
  margin: 0;
}

.metafora {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  padding: 0px 10px 20px 10px;
}

.containerLinks {
  span {
    display: flex;
  }

  a {
    color: black;
    word-break: break-word;
    text-decoration: underline;
  }
}

.containerLinks a:hover {
  color: var(--primary-color);
}

@media (max-width: 800px) {
  .container figure {
    flex-direction: column;
    margin: 10px 0;
  }

  .image {
    width: 100%;
  }
}
