.container__image-card {
    width: 90vw;
    margin: 0 auto;
    justify-content: space-around; 
}

.team-title {
    text-align: center;
    font-size: 2.2rem;
    color: #0f3f41;
}

.image-card__container {
    background-color: white;
    border-radius: 15px;
    max-width: 350px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    cursor: default;
    margin-bottom: 10px;
}

.testimonials-header {
    height: 100px;
    width: 100%;
    background-color: #2ad99c;
    border-radius: 15px 15px 0 0;
}

.testimonials-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.testimonials-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -85px auto 0;
}

.testimonials-quote {
    padding: 0 20px;
    text-align: center;
}

.testimonials-quote p {
    font-style: italic;
    font-size: 20px;
}

.testimonials-name {
    padding: 0 20px;
    text-align: center;
}

.testimonials-name h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.testimonials-name p {
    font-size: 18px;
}