footer{
  background: var(--main-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: space-between; 
  width:15%;
 
}

span{
    color: rgb(244, 241, 241);
    font-size: 16px;
    font-family: 'Capri';
    display: flex;
}


a{
    color: rgb(249, 244, 244);
    font-size: 16px;
    font-family: 'Capri';
    text-decoration: none;  
    display: flex;
    align-items: center;
    margin: 0 5px;
    
}
.one{
    display: flex;
    justify-content: center;
    margin: 0 40px;
    width:68%;
}

.two{
    display: flex;
    margin: 0 40px;
    width:67%;
    
}

.containerIcon{
    display: flex;
    justify-content: flex-end;
    width: 30%;
}
